.card img{
    width:15vw;
    display:flex;
    
    
    background:rgb(255, 254, 254);
    margin-top: 45px;
    cursor: pointer;
    border: 4px rgb(99, 99, 99) solid;
    border-radius: 2px;
    box-shadow: 4px 4px 10px rgb(56, 56, 56);
    transition:all 0.25s ease-in-out;
}

.card img:hover{
    background:rgb(195, 195, 195);
    transform:scale(1.1);
    box-shadow: 8px 8px 20px rgb(56, 56, 56);
}

.card img:active{
    transform: translate(1px, 1px);
}


