#brand, #current_score, #topScore{
    color:white;
    padding: 0 30px;
}
#rightOrWrong{
    color:rgb(0, 173, 253);
    font-weight: bold;
    font-size: 20px;
    transition:all 0.25s ease-in-out;
    margin-left:-5px;
}
nav {
    
    display:flex;
    margin: auto;
    background:rgba(0, 0, 0, 0.7);
    
}
ul {
    margin: auto;
    padding:5px;
    font-size: 16px;
    text-align:center;
}



@media only screen and (max-width: 414px) {
    
    #rightOrWrong{
        color:rgb(0, 173, 253);
        font-weight: bold;
        font-size: 20px;
        animation:moveInOut 0.25s ease-in-out;
        margin-left:-5px;
    }
    @keyframes moveInOut {
        from {
            transform:scale(1)
        }
        to {
            transform:scale(1.5)
        }
        from{
            transform: scale(1)
        }
    }
    nav {
        width: 200px;
        height: 200px;
        border-radius:100px;
        display:flex;
        margin: auto;
        background:rgba(0, 0, 0, 0.7);
        
    }
    ul {
        margin: auto;
        font-size: 16px;
        text-align:center;
    }
}